@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;577;600;700&display=swap');
/*goblal*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body{
    font-family:'Josefin Sans', sans-serif;
}